.App {
  text-align: center;  
}
body {
  /* background-image: url("./assets/vertical-waves.png"); */
  background-image: url("./assets/skulls.png");
}

.form-control {
width: 90%;
border-radius: 12px;
}